@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');


#app {
  max-width: 1280px;
  margin: 0 0;
  padding: 0rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: #EBF4FF;
  }
}

@media (min-width: 1024px) {
  body {

    place-items: center;
  }

  #app {
    display: initial;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}