.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 5px 37px -8px rgba(25, 84, 155, 0.07),
    0px -9px 20px -20px rgba(25, 84, 155, 0.3);
  border-radius: 0px;
}

.but-wrapper {
  display: flex;
  grid-auto-flow: column;
}

.circle {
  position: absolute;
  top: calc(-1rem - 3px);
  background-color: white;
  border-radius: 50%;
  transition: 0.2s ease;
  will-change: transform;
  box-shadow: 0px 5px 37px -8px rgba(25, 84, 155, 0.07),
    0px -9px 20px -20px rgba(25, 84, 155, 0.3);
  clip-path: polygon(
    -1rem -1rem,
    calc(100% + 1rem) -1rem,
    calc(100% + 1rem) calc(1rem + 3px),
    -1rem calc(1rem + 3px)
  );
  z-index: 0;
}

.foot_button {
  text-align: center;
  flex: 1 1 0px;
}

.selected-icon {
  @keyframes up-down-2 {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  position: absolute;
  left: calc(50% - 0.5rem);
  top: -1rem;
  color: #348eff;
  font-size: 1rem;
  animation: up-down-2 0.4s linear forwards;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s ease;
  margin: auto;
}

.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: #838992;
  transition: 0.2s ease;
  text-align: center;
}

.selected {
  .icon {
    background-color: #348eff;
    margin-bottom: 5px;
    .icon-svg {
      filter: brightness(0) invert(1);
    }
  }
  .text {
    color: #348eff;
  }
}
